@import url("https://use.typekit.net/wgt3qdl.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}
body p {
  font-family: "lft-etica", sans-serif;
}
body h1 {
  font-family: "montserrat";
}

header {
  height: 10vh;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}
header #misc {
  height: 30px;
  width: 20px;
  background-image: url("../src/assets/ikoner/misc.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-right: 30px;
}
header #tilbake {
  height: 30px;
  width: 20px;
  background-image: url("../src/assets/ikoner/pilv.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 30px;
}

#info {
  position: fixed;
  top: 20px;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  z-index: 9999;
}

.artikkel {
  margin-bottom: 100px;
}

.artikkel1 {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.artikkel1 .orken {
  min-width: 50vw;
  height: 100vh;
  display: flex;
  background-image: url("../src/img/AronRalston/orken.png");
  justify-content: center;
  align-items: center;
}
.artikkel1 .aronportrett {
  height: 80vh;
  width: 25vw;
  background-image: url("../src/img/AronRalston/Enarm.png");
  background-size: cover;
  background-position: center top;
}
.artikkel1 .tekst {
  margin-top: 150px;
}
.artikkel1 .tekst h1 {
  font-size: 50px;
  color: #2C2C2C;
  margin-left: -100px;
}
.artikkel1 .tekst p {
  font-weight: 300;
  padding: 100px;
  font-size: 18px;
}

.artikkel2 {
  background-image: url("../src/img/AronRalston/Bakgrunn.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
}
.artikkel2 img {
  width: 100%;
}

.artikkel3 {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.artikkel3 .tekst {
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
}
.artikkel3 .tekst h1 {
  font-family: "montserrat";
  font-size: 50px;
  color: #2C2C2C;
  margin-left: 100px;
  padding-bottom: 50px;
}
.artikkel3 .tekst p {
  font-family: "lft-etica";
  font-weight: 300;
  display: flex;
  margin-left: 120px;
  font-size: 18px;
}

.mat {
  min-width: 60vw;
  height: 100vh;
  display: flex;
  margin-top: 40px;
  background-image: url("../src/img/AronRalston/ration.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 80vh;
}

.verktoy {
  min-width: 50vw;
  height: 100vh;
  margin-left: 10px;
  display: flex;
  margin-top: 320px;
  background-image: url("../src/img/AronRalston/supplies.jpg");
  background-repeat: no-repeat;
  background-size: 70vh;
}

.artikkel35 {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.artikkel35 .container {
  min-width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artikkel35 .tekst1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
}
.artikkel35 .tekst1 h1 {
  font-family: "montserrat";
  font-size: 50px;
  color: #2C2C2C;
  align-self: flex-end;
  padding-bottom: 50px;
  padding-right: 50px;
}
.artikkel35 .tekst1 p {
  font-size: 18px;
  color: #2c2c2c;
  font-weight: 300;
  padding-bottom: 50px;
  padding-right: 30px;
}
.artikkel35 .tekst1 audio {
  margin-right: 30px;
}

.artikkel4 {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url("../src/img/AronRalston/Nattbilde.png");
  background-size: cover;
}
.artikkel4 .container {
  min-width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artikkel4 .tekst1 {
  display: flex;
  align-items: center;
}
.artikkel4 .tekst1 p {
  font-size: 18px;
  color: #f2f2f2;
  font-weight: 300;
  padding: 100px;
}

.artikkel5 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artikkel5 .container {
  min-width: 50vw;
  height: 100vh;
}
.artikkel5 .container .bloodrock {
  background-image: url("../src/img/AronRalston/BloodRock.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 508px;
  width: 300px;
  margin-left: 150px;
  padding-top: 400px;
  padding-left: 150px;
}
.artikkel5 .container .trapped {
  background-image: url("../src/img/AronRalston/Trapped.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
  width: 405px;
  margin-left: -300px;
}
.artikkel5 .tekst {
  margin-top: -200px;
  margin-left: 200px;
}
.artikkel5 .tekst .wrap {
  display: flex;
}
.artikkel5 .tekst h1 {
  font-size: 50px;
  color: #2C2C2C;
}
.artikkel5 .tekst p {
  font-size: 18px;
  width: 300px;
  font-weight: 300;
  padding-right: 50px;
  padding-top: 50px;
}

/*# sourceMappingURL=aronralston.css.map */
