@import url("https://use.typekit.net/wgt3qdl.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800&display=swap');

$default-font-family: 'lft-etica',sans-serif;
$default-header-family: 'montserrat';
$default-p-size: 18px;
$default-header-size: 50px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;

    p {
        font-family: $default-font-family;
    }

    h1 {
        font-family: $default-header-family;
    }
}

header {
    height: 10vh;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;

    #misc {
        height: 30px;
        width: 20px;
        background-image: url("../src/assets/ikoner/misc.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 30px;
        margin-right: 30px;
    }

    #tilbake {
        height: 30px;
        width: 20px;
        background-image: url("../src/assets/ikoner/pilv.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 30px;
        margin-left: 30px;
    }
}

#info {
    position: fixed;
    top: 20px;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    z-index: 9999;
}

.artikkel {
    margin-bottom: 100px;
}


// Introside
.artikkel1 {
    height: 100vh;
    width: 100vw;
    display: flex;

    .orken {
        min-width: 50vw;
        height: 100vh;
        display: flex;
        background-image: url("../src/img/AronRalston/orken.png");
        justify-content: center;
        align-items: center;
    }

    .aronportrett {
        height: 80vh;
        width: 25vw;
        background-image: url("../src/img/AronRalston/Enarm.png");
        background-size: cover;
        background-position: center top;
    }

    .tekst {
        margin-top: 150px;

        h1 {
            font-size: 50px;
            color: #2C2C2C;
            margin-left: -100px;
        }

        p {
            font-weight: 300;
            padding: 100px;
            font-size: $default-p-size;
        }
    }
}

// Fjellvegg som åpner seg
.artikkel2 {
    background-image: url("../src/img/AronRalston/Bakgrunn.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;

    img{
        width:100%;
    }
}


//Del 3 - Mat og verktøy
.artikkel3 {
    height: 100vh;
    width: 100vw;
    display: flex;
    .tekst{
        margin-top:100px;
        margin-left: 40px;
        margin-right: 40px;
        text-align: left;
        h1 {
            font-family: $default-header-family;
            font-size: $default-header-size;
            color: #2C2C2C;
            margin-left: 100px;
            padding-bottom: 50px;
        }
        p {
            font-family: 'lft-etica';
            font-weight: 300;
            display: flex;
            margin-left: 120px;
            font-size: 18px;
        }
      } 
    }
    .mat {
      min-width: 60vw;
      height: 100vh;
      display: flex;
      margin-top: 40px;
      background-image: url("../src/img/AronRalston/ration.jpg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: 80vh;     
    } 

    .verktoy {
        min-width: 50vw;
        height: 100vh;
        margin-left: 10px;
        display: flex;
        margin-top: 320px;
        background-image: url("../src/img/AronRalston/supplies.jpg");
        background-repeat: no-repeat;
        background-size: 70vh;  
    }





    .artikkel35 {
        height: 100vh;
        width: 100vw;
        display: flex;
        .container {
            min-width: 50vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .tekst1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-left: 100px;
            h1 {
                font-family: $default-header-family;
                font-size: $default-header-size;
                color: #2C2C2C;
                align-self: flex-end;
                padding-bottom: 50px;
                padding-right: 50px;
            }
            p {
                font-size: $default-p-size;
                color: #2c2c2c;
                font-weight: 300;
                padding-bottom: 50px;
                padding-right: 30px;
            }
            audio {
                margin-right: 30px;
            }
        }
    }


// Nattartikkel
.artikkel4 {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url("../src/img/AronRalston/Nattbilde.png");
    background-size: cover;

    .container {
        min-width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tekst1 {
        display: flex;
        align-items: center;

        p {
            font-size: $default-p-size;
            color: #f2f2f2;
            font-weight: 300;
            padding: 100px;
        }
    }
}

// The entire process took an hour
.artikkel5 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        min-width: 50vw;
        height: 100vh;

        .bloodrock {
            background-image: url("../src/img/AronRalston/BloodRock.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 508px;
            width: 300px;
            margin-left: 150px;
            padding-top: 400px;
            padding-left: 150px;
        }

        .trapped {
            background-image: url("../src/img/AronRalston/Trapped.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 180px;
            width: 405px;
            margin-left: -300px;
        }
    }

    .tekst {
        margin-top: -200px;
        margin-left: 200px;

        .wrap {
            display: flex;
        }

        h1 {
            font-size: $default-header-size;
            color: #2C2C2C;
        }

        p {
            font-size: $default-p-size;
            width: 300px;
            font-weight: 300;
            padding-right: 50px;
            padding-top: 50px;
        }
    }
}



.artikkel6 {
    width: 100vw;
    height: 100vh;
    .iframe {
        align-content: center;
    }
}
