@import url("https://use.typekit.net/wgt3qdl.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lft-etica", sans-serif;
}

body {
  background-color: #334640;
}

header {
  height: 10vh;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}
header #knapp {
  height: 30px;
  width: 20px;
  background-image: url("../src/assets/ikoner/misc.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 30px;
}
header #knapp.visible {
  height: 25px;
  width: 20px;
  background-image: url("../src/assets/ikoner/X-.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay-menu {
  width: 100vw;
  background-color: #2C2C2C;
  position: fixed;
  max-height: 100vh;
  top: -100vh;
  overflow: hidden;
  z-index: 2;
  transition: 0.5s;
}
.overlay-menu .burger-nav {
  max-height: 10vh;
  width: 80vw;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.overlay-menu .burger-nav .logo-menu {
  height: 50px;
}
.overlay-menu .burger-nav .logo-menu img {
  height: 100%;
}
.overlay-menu .burger-nav #search {
  padding-top: 20px;
  height: 50px;
  display: grid;
  grid-template-columns: 200px 40px;
}
.overlay-menu .burger-nav #search input {
  height: 32px;
  background-color: #201F1F;
  border: 1px solid #2C2C2C;
  border-radius: 4px;
}
.overlay-menu .burger-nav #search .lupen {
  position: inline-block;
  height: 20px;
  margin-top: 4px;
  margin-left: -14px;
}
.overlay-menu .box {
  background-color: #201F1F;
  min-height: 60vh;
}
.overlay-menu .box .articles {
  width: 80vw;
  margin: auto;
  color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.overlay-menu .box .articles div {
  padding: 20px;
}
.overlay-menu .box .articles div h4 {
  font-size: 14px;
  color: #f2f2f2;
  font-family: "montserrat";
  font-weight: 800;
}
.overlay-menu .box .articles div p {
  font-size: 12;
  color: #f2f2f2;
  font-family: "lft-etica", sans-serif;
  font-weight: 300;
}
.overlay-menu .box .articles div .person {
  width: 100%;
}
@media (max-width: 1000px) {
  .overlay-menu .box .articles {
    max-width: 55vw;
    grid-template-columns: 1fr 1fr;
  }
  .overlay-menu .box .articles div:nth-child(5), .overlay-menu .box .articles div:nth-child(6) {
    display: none;
  }
}
@media (max-width: 600px) {
  .overlay-menu .box .articles {
    max-width: 70vw;
    grid-template-columns: 1fr;
  }
  .overlay-menu .box .articles div:nth-child(2), .overlay-menu .box .articles div:nth-child(3), .overlay-menu .box .articles div:nth-child(4), .overlay-menu .box .articles div:nth-child(5), .overlay-menu .box .articles div:nth-child(6) {
    display: none;
  }
  .overlay-menu #pilh {
    display: none;
  }
}
.overlay-menu .overlay-footer {
  width: 80vw;
  min-height: 10vh;
  max-height: 10vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}
.overlay-menu h4 {
  padding-top: 14px;
  color: #D15827;
  font-size: 14px;
  padding-bottom: 10px;
  font-weight: 500;
}
.overlay-menu p {
  color: #D15827;
  font-size: 12px;
  font-weight: 300;
}

#pilh {
  display: block;
  background-image: url("../src/assets/ikoner/pilh.png");
  position: relative;
  height: 40px;
  width: 20px;
  z-index: 15;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 95vw;
  top: 300px;
  transform: translate(-50%);
}

.overlay-menu.visible {
  height: 100vh;
  background-color: #2C2C2C;
  position: fixed;
  z-index: 2;
  top: 0;
}

.logo {
  display: block;
  position: absolute;
  width: 25%;
  left: 50%;
  transform: translate(-50%);
}

main {
  display: flex;
  flex-wrap: wrap;
}
main .item {
  height: 100vh;
  width: 300px;
  flex-grow: 1;
  background-size: cover;
  background-position: center top;
  color: #f2f2f2;
  padding: 70vh 80px 0 60px;
}
main h2 {
  font-family: "montserrat";
  font-weight: 800;
  font-size: 35px;
}
main p {
  font-weight: 200;
  font-size: 15px;
}
main a {
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 500;
  font-family: "montserrat";
  padding: 90px;
  padding-top: 15px;
  display: inline-block;
}
main .item1 {
  background-image: url("../src/img/nyeste/riktigformat_Aron.jpg");
}
main .item2 {
  background-image: url("../src/img/nyeste/riktig_format.jpg");
}
main .item3 {
  background-image: url("../src/img/nyeste/rikgitfarmat.dude.jpg");
}

.header-menu {
  padding-right: 40px;
}
.header-menu img {
  height: 25px;
}

.former-articles {
  display: flex;
  flex-wrap: wrap;
}
.former-articles .former {
  width: 100vw;
  height: 100vh;
  flex-grow: 1;
  margin-top: 60px;
  background-size: cover;
  background-position: center;
  color: #f2f2f2;
}
.former-articles .former:nth-child(odd) {
  padding: 300px 100px 0px 50vw;
}
.former-articles .former:nth-child(even) {
  padding: 300px 50vw 0px 100px;
}
.former-articles h3 {
  font-family: "montserrat";
  font-weight: 800;
  font-size: 30px;
}
.former-articles p {
  font-family: "lft-etica", sans-serif;
  font-weight: 200;
  font-size: 15px;
}
.former-articles a {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: 400;
  margin-top: 30px;
  display: inline-block;
}
.former-articles .article1 {
  background-image: url("../src/img/eldreartikler/DavidGoggins.png");
}
.former-articles .article2 {
  background-image: url("../src/img/eldreartikler/GirlInTheBox.png");
}
.former-articles .article3 {
  background-image: url("../src/img/eldreartikler/SheryllPowell.png");
}
.former-articles .article4 {
  background-image: url("../src/img/eldreartikler/MaryBrunner.png");
}
.former-articles .article5 {
  background-image: url("../src/img/eldreartikler/Harrison.png");
}

@media (max-width: 900px) {
  .logo {
    display: none;
  }

  main {
    width: 300vw;
  }
  main .item {
    width: 100vw;
  }

  .former-articles {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
    padding-left: 20px;
  }
  .former-articles .former {
    height: 30vh;
    padding-top: 50px;
    background-size: cover;
    background-position: center;
    color: #f2f2f2;
  }
  .former-articles h3 {
    font-family: "montserrat";
    font-weight: 800;
    font-size: 20px;
  }
  .former-articles p {
    font-family: "lft-etica", sans-serif;
    font-weight: 200;
    font-size: 10px;
  }
  .former-articles a {
    display: none;
  }
  .former-articles .former:nth-child(odd) {
    padding: 100px 50px 0px 50vw;
  }
  .former-articles .former:nth-child(even) {
    padding: 100px 50vw 0px 100px;
  }
}

/*# sourceMappingURL=index.css.map */
