@import url("https://use.typekit.net/wgt3qdl.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800&display=swap');

$default-font-family: 'lft-etica', sans-serif;
$default-header-family: 'montserrat';

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    p {
        font-family: $default-font-family;
    }
    h1 {
        font-family: $default-header-family;
    }
}

header {
    height: 10vh;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;

    #misc {
        height: 30px;
        width: 20px;
        background-image: url("./assets/misc.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 30px;
        margin-right: 30px;
    }
    #tilbake {
        height: 30px;
        width: 20px;
        background-image: url("./assets/pilv.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 30px;
        margin-left: 30px;
    }
}

#info {
    position: fixed;
    top: 20px;
    left: 5%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 20px;
    z-index: 9999;
  }

  .artikkel {
      margin-bottom: 100px;
  }

      .artikkel1 {
        height: 100vh;
        width: 100vw;
        display: flex;
        .orken {
            min-width: 50vw;
            height: 100vh;
            display: flex;
            background-image: url("./src/aronbilder/orken.png");
            justify-content: center;
            align-items: center;
        }
        .aronportrett {
            height: 80vh;
            width: 25vw;
            background-image: url("./src/aronbilder/Enarm.png");
            background-size: cover;
            background-position: center top;
        }
        .tekst {        
            margin-top:200px;
            h1 {
                font-size: 40px;
                color: #2C2C2C;
                margin-left:-100px;
            }
            p {
                font-weight: 300;
                padding: 50px;
            }
        }
    }
    
    .artikkel2 {
        background-image: url("./src/aronbilder/Bakgrunn.jpg");
        height: 100vh;
        width: 100vw;
        background-size: cover;
        background-position: center top;
        display: flex;
       
        .gardin {
            background-size: cover;
            background-position: center;
            height: 100vh;
            width: 100vw;
        }
        
        .left {
            background-image: url("./src/aronbilder/Lag\ 0.png");
        }
        .right {
            background-image: url("./src/aronbilder/Lag\ 2.png");
        }
        p {
            position: fixed;
        }
    }

    .artikkel4 {
        height: 100vh;
        width: 100vw;
        display: flex;
        background-image: url("./src/aronbilder/Nattbilde.png");
        background-size: cover;
        .container {
            min-width: 50vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .tekst1 {        
            margin-top:200px;
            p {
                color: #f2f2f2;
                font-weight: 300;
                padding: 50px;
            }
        }
    }
    
    

