@import url("https://use.typekit.net/wgt3qdl.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800&display=swap');


$default-font-family: lft-etica, sans-serif;
$default-header-family: 'montserrat';
$default-font-color: #f2f2f2;

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $default-font-family;
}
body {
    background-color: #334640;
}

header {
    height: 10vh;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    .menu {
        margin-right: 20px;
    }
    .home {
        margin-left: 20px;
    }
}

.logo {
    display: block;
    position: absolute;
    width: 25%;
    left: 50%;
    transform: translate(-50%);
}


main {
    display: flex;
    flex-wrap: wrap;
    .item {
        height: 100vh;
        width: 300px;
        flex-grow: 1;
        background-size: cover;
        background-position: center top;
        color: $default-font-color;
        padding: 70vh 80px 0 60px;
    }
    h2 {
        font-family: $default-header-family;
        font-weight: 800;
    }
    p {
        font-weight: 200; 
    }
    a {
        color: $default-font-color;
        text-decoration: none;
        font-weight: 500;
        font-family: $default-header-family;    
    }
    .item1 {
        background-image: url("./images/nyeste/riktigformat_Aron.jpg");
    }
    .item2 {
        background-image: url("./images/nyeste/riktig_format.jpg");
    }
    .item3 {
        background-image: url("./images/nyeste/rikgitfarmat.dude.jpg");
    }
}

@media (max-width:900px) {
    main {
        width: 300vw;
        .item {
            width: 100vw;
        }
    }
}

.former-articles {
    display: flex;
    flex-wrap: wrap;
    .former {
        width: 100vw;
        height: 100vh;
        flex-grow: 1;
        margin-top: 60px;
        background-size: cover;
        background-position: center;
        color: $default-font-color;
    }
    .former:nth-child(odd) {
        padding: 250px 200px 0px 700px;
    }
    .former:nth-child(even) {
        padding: 250px 700px 0px 200px;
    }
    
    
    h3 {
        font-family: $default-header-family;
        font-weight: 800;
    }
    p {
        font-family: $default-font-family;
        font-weight: 200;
    }
    a {
        text-decoration: none;
        color: $default-font-color;
        font-weight: 400;
    }
    .article1 {
        background-image: url("./images/eldreartikler/DavidGoggins.png");
    }
    .article2 {
        background-image: url("./images/eldreartikler/GirlInTheBox.png");
    }
    .article3 {
        background-image: url("./images/eldreartikler/SheryllPowell.png");
    }
    .article4 {
        background-image: url("./images/eldreartikler/MaryBrunner.png");
    }
    .article5 {
        background-image: url("./images/eldreartikler/Harrison.png");
    }
}

footer {
    height: 10vh;
}

