@import url("https://use.typekit.net/wgt3qdl.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800&display=swap');


$default-font-family: 'lft-etica',
sans-serif;
$default-header-family: 'montserrat';
$default-font-color: #f2f2f2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $default-font-family;
}

body {
    background-color: #334640;
}

header {
    height: 10vh;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;


    #knapp {
        height: 30px;
        width: 20px;
        background-image: url("./assets/misc.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 30px;

    }

    #knapp.visible {
        height: 25px;
        width: 20px;
        background-image: url("./assets/X-.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

}


.overlay-menu {
    width: 100vw;
    background-color: #2C2C2C;
    position: fixed;
    max-height: 100vh;
    top: -100vh;
    overflow: hidden;
    z-index: 2;
    transition: 0.5s;
    top: -100vw;

    .burger-nav {
        max-height: 10vh;
        width: 80vw;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .logo-menu {
            height: 50px;

            img {
                height: 100%;
            }
        }

        #search {
            padding-top: 20px;
            height: 50px;
            display: grid;
            grid-template-columns: 200px 40px;

            input {
                height: 32px;
                background-color: #201F1F;
                border: 1px solid #2C2C2C;
                border-radius: 4px;
            }

            .lupen {
                position: inline-block;
                height: 20px;
                margin-top: 4px;
                margin-left: -14px;
            }
        }
    }

    .box {
        background-color: #201F1F;
        min-height: 60vh;

        .articles {
            width: 80vw;
            margin: auto;
            color: #f2f2f2;
            padding-top: 50px;
            padding-bottom: 50px;
            justify-content: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            div {
                padding: 20px;
                h4 {
                    font-size: 14px;
                    color: #f2f2f2;
                    font-family: $default-header-family;
                    font-weight: 800;
                }

                p {
                    font-size: 12;
                    color: #f2f2f2;
                    font-family: $default-font-family;
                    font-weight: 300;
                }

                .person {
                    width: 100%;
                }
            }
        }
    }

    @media (max-width:1000px){
        .box{
            .articles {
                max-width:55vw;
                grid-template-columns: 1fr 1fr;
                div{
                    &:nth-child(5), &:nth-child(6){
                        display:none;
                    }
                }
            }            
        }
    }
    @media (max-width:600px){
        .box{
            .articles {
                max-width:55vw;
                grid-template-columns: 1fr;
                div{
                    &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6){
                        display:none;
                    }
                }
            }            
        }
    }

    .overlay-footer {
        width: 80vw;
        min-height: 10vh;
        max-height: 10vh;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;

    }

    h4 {
        padding-top: 14px;
        color: #D15827;
        font-size: 14px;
        padding-bottom: 10px;
        font-weight: 500;

    }

    p {
        color: #D15827;
        font-size: 12px;
        font-weight: 300;
    }
}



#pilh {
    display: block;
    background-image: url("./assets/pilh.png");
    position: relative;
    height: 40px;
    width: 20px;
    z-index: 15;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 95vw;
    top: 260px;
    transform: translate(-50%);
}





.overlay-menu.visible {
    height: 100vh;
    background-color: #2C2C2C;
    position: fixed;
    z-index: 2;
    top: 0;
}


.logo {
    display: block;
    position: absolute;
    width: 25%;
    left: 50%;
    transform: translate(-50%);
}

main {
    display: flex;
    flex-wrap: wrap;

    .item {
        height: 100vh;
        width: 300px;
        flex-grow: 1;
        background-size: cover;
        background-position: center top;
        color: $default-font-color;
        padding: 70vh 80px 0 60px;
    }

    h2 {
        font-family: $default-header-family;
        font-weight: 800;
    }

    p {
        font-weight: 200;
    }

    a {
        color: $default-font-color;
        text-decoration: none;
        font-weight: 500;
        font-family: $default-header-family;
        padding: 90px;
        padding-top: 15px;
        display: inline-block;
    }

    .item1 {
        background-image: url("./src/nyeste/riktigformat_Aron.jpg");

    }

    .item2 {
        background-image: url("./src/nyeste/riktig_format.jpg");
    }

    .item3 {
        background-image: url("./src/nyeste/rikgitfarmat.dude.jpg");
    }
}

.header-menu {
    padding-right: 40px;

    img {
        height: 25px;
    }

}

.former-articles {
    display: flex;
    flex-wrap: wrap;

    .former {
        width: 100vw;
        height: 100vh;
        flex-grow: 1;
        margin-top: 60px;
        background-size: cover;
        background-position: center;
        color: $default-font-color;
    }

    .former:nth-child(odd) {
        padding: 300px 100px 0px 50vw;
    }

    .former:nth-child(even) {
        padding: 300px 50vw 0px 100px;
    }


    h3 {
        font-family: $default-header-family;
        font-weight: 800;
    }

    p {
        font-family: $default-font-family;
        font-weight: 200;
    }

    a {
        text-decoration: none;
        color: $default-font-color;
        font-weight: 400;
        margin-top: 30px;
        display: inline-block;
    }

    .article1 {
        background-image: url("./src/eldreartikler/DavidGoggins.png");
    }

    .article2 {
        background-image: url("./src/eldreartikler/GirlInTheBox.png");
    }

    .article3 {
        background-image: url("./src/eldreartikler/SheryllPowell.png");
    }

    .article4 {
        background-image: url("./src/eldreartikler/MaryBrunner.png");
    }

    .article5 {
        background-image: url("./src/eldreartikler/Harrison.png");
    }
}

@media (max-width:900px) {
    .logo {
        display: none;
    }

    main {
        width: 300vw;

        .item {
            width: 100vw;
        }
    }

    .former-articles {
        display: flex;
        flex-wrap: wrap;
        padding-right: 20px;
        padding-left: 20px;

        .former {
            height: 30vh;
            padding-top: 50px;
            background-size: cover;
            background-position: center;
            color: $default-font-color;
        }

        h3 {
            display: none;
        }

        p {
            display: none;
        }

        a {
            display: none;
        }

        .former:nth-child(odd) {
            padding: 0 0 0 0;
        }

        .former:nth-child(even) {
            padding: 0 0 0 0;
        }

    }

}